# production
packages/embla-carousel/index.d.ts
packages/embla-carousel*/
public

!packages/embla-carousel/embla-carousel.js
!packages/embla-carousel-auto-height/embla-carousel-auto-height.js
!packages/embla-carousel-autoplay/embla-carousel-autoplay.js
!packages/embla-carousel-class-names/embla-carousel-class-names.js

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.cache
.DS_Store

# dotenv
.env*