# production
packages/embla-carousel*/*
*.ts
public

!embla-carousel.js
!embla-carousel.umd.js
!embla-carousel-auto-height.js
!embla-carousel-auto-height.umd.js
!embla-carousel-autoplay.umd.js
!embla-carousel-class-names.umd.js

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage

# misc
.cache
.DS_Store

# dotenv
.env*